@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<h1 class="mb-0">账户管理</h1>
<p class="text-muted">修改或查看你的账户设置</p>
<hr />
<div class="row">
    <div class="col-md-3 mb-3">
        <partial name="_ManageNav" />
    </div>
    <div class="col-md-9">
        @RenderBody()
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
